<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WorkingWithVisualStudio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <meta name="viewport" content="width=device-width"/>
    
    <link rel="stylesheet" href="css/first.min.css" />
    <link rel="stylesheet" href="css/second.min.css" />
    <script src="js/third.min.js"></script>
    <script src="js/fourth.min.js"></script>
    

</head>
<body>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

</body>
</html>