@model GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Спасибо, @Model.Name </title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
</head>
<body class="text-center">
<p>
    @if (Model.WillAttend == true)
    {
        @:Мы ждем вас - напитки уже охлаждаются
    }
    else
    {
        @:Ждем в другой раз
    }
</p>
Жми <a class="nav-link" asp-action="ListResponces">сюда</a>
для просмотра пристусвующих.
</body>
</html>