@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <title>Error</title>
</head>
<body>
<h2 class="text-danger">Ощибка.</h2>
<hЗ class="text-danger">Ошибка обработки запроса</hЗ>
</body>
</html>